<a href="https://colab.research.google.com/github/Swapnapokharkar/Task-5-Data-Science-Liabraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Program to set a  column automatically aligns the data by the index.
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20200121", periods=6))

s1

2020-01-21    1
2020-01-22    2
2020-01-23    3
2020-01-24    4
2020-01-25    5
2020-01-26    6
Freq: D, dtype: int64

In [3]:
#Program to set a  column automatically aligns the data by the index.
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20211115", periods=6))

s1

2021-11-15    1
2021-11-16    2
2021-11-17    3
2021-11-18    4
2021-11-19    5
2021-11-20    6
Freq: D, dtype: int64

In [11]:
#Creating Labels
import pandas as pd
a = [20,30,40]
myvar3 = pd.Series(a, index = ["x","y","z"])
print(myvar3)
print(myvar3["x"])
print(myvar3["z"])

x    20
y    30
z    40
dtype: int64
20
40

In [12]:
#Create a simple Pandas DataFrame:
import pandas as pd
data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45] }

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [13]:
import pandas as pd
items=[['Phone',15000],['TV',25000],['Radio',1000]]
df=pd.DataFrame(items,columns=['item','Price'],dtype=float)
print(df)

    item    Price
0  Phone  15000.0
1     TV  25000.0
2  Radio   1000.0

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
import pandas as pd
import numpy as np
import sys
sys.stdout=sys.stdout
fruits=np.array(['Pear','Mango','Banana','Chiku'])
series1=pd.Series(fruits)
print(series1)

0      Pear
1     Mango
2    Banana
3     Chiku
dtype: object

In [15]:
import pandas as pd
df=pd.DataFrame({'X':[76,56,79,70,65],'Y':[87,54,69,88,89],'Z':[76,97,77,72,40]})
print(df)

    X   Y   Z
0  76  87  76
1  56  54  97
2  79  69  77
3  70  88  72
4  65  89  40

In [16]:
a =[ 1,9,3]
myvar1 = pd.Series(a)
print(myvar1)

0    1
1    9
2    3
dtype: int64